* {
  padding: 0px;
  margin: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
  overflow: -moz-hidden-unscrollable;
}
/* <!-- ////////////////////////////////////// HEADER//////////////////////// --> */
.header {
  padding-top: 20px;
  background: #d21312;
}

nav {
  display: flex;
  justify-content: center;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fffbf5;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
}
.nav-links {
  flex: 1;
  text-align: right;
  margin-right: 5%;
}
.logo {
  text-decoration: none;
  font-size: 20px;
  width: auto;
  margin: auto;
  margin-left: 8%;
  color: #fffbf5;
}

/* <!-- ////////////////////////////////////// TITLE  HEADER/////////////////////// --> */

.title {
  padding-top: 90px;
  width: 80%;
  margin: auto;
}
.veg {
  display: flex;
  gap: 1rem;
  justify-content: center;


}

.veg-col-two img {
  width: 100%;
  transform: rotate(30deg);
  /* height: 400px; */
  border-radius: 100%;
}

.veg-col-one h1 {
  font-size: 50px;
  color: #fffbf5;
}

.veg-col-one p {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #212a3e;
  text-align: left;
}
.veg-col-one a{
  text-decoration: none;
  color: #fffbf5;
}

.b-up {
  background: #d21312;
}

/* <!-- ////////////////////////////////////// CONTENT /////////////////////// --> */

.content,
h2,
p {
  
  text-align: left;
}

.content h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.content p {
  padding-bottom: 20px;

}

.content-col {
  background: #c4ba4836;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  /* flex: 48%; */
  
}
.content-col img {
  width: 100%;
}

.content {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.bup {
  background: #f7e1ae;
}

/* <!-- ////////////////////////////////////// MEDIA QUARIES/////////////////////// --> */

@media (max-width: 600px) {
  .veg {
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
  
  }

  .nav-links ul li{
    padding: 8px 4px;
  }

  .content h2 p {
    text-align: left;
  }

  .veg-col-two img {
    width: 60%;
    transform: rotate(390deg);
    border-radius: 40% 10% 70% 40%;
  }
  .veg-col-one h1 {
    font-size: 32px;
  }
  .veg-col-one p {
    font-size: 15px;
    padding: 30px 0;
  }
  .title {
    padding-top: 20px;
  }
  .about-us p{
    font-size: 11px;
   
  }

}

@media (max-width: 820px) {
  .veg-col-one h1 {
    font-size: 40px;
  }
  .veg-col-one p {
    font-size: 20px;
    padding: 30px 0;
  }
  .footer-col p {
    font-size: 15px;
  }
}

/* <!-- ////////////////////////////////////// BUTTONS /////////////////////// --> */

button {
  background: none;
  padding: 10px 12px;
  border: 1px solid white;
  color: white;
}

button:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #917a5a25;
  transition: 0.5s;
  color: #000000;
 
}

button:active {
  background: #faa34675;
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  border: 1px solid ;

  /* margin: 0  0;
    margin: 10px 146px; */
  border: 1px solid  #000000;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.btn-ft{
  background-color: #f7e1ae69;
  padding: 10px 1rem;
  color: #212a3e;
  cursor: pointer;
  border: 1px solid  #000000;
}

/* <!-- ////////////////////////////////////// Footer/////////////////////// --> */

.footer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.footer-col img {
  width: 100%;
}

.footer-col h4 {
  padding-left: 30px;
  /* padding-bottom: 50px; */
}

.footer-col p {
  padding-left: 30px;
  text-align: left;
  padding-bottom: 0px;
  padding-top: 0px;
}

.footer-col {
   /* flex: 48%;  */
   flex-basis: 48%;
 
  margin-bottom: 30px;
}
.footer-col h2{
  margin-bottom: 24px;
  color: #f7e1ae;
  
}

.fotter-ext-one {
  margin-bottom: 20px;

}

.fotter-ext-two {
  margin-bottom: 20px;
}

.fotter-ext-one h4,
.fotter-ext-two h4,
.fotter-ext-three h4 {
  margin-bottom: 10px;
  color: #f7e1ae;
}

.fotter-ext-one p,
.fotter-ext-two p,
.fotter-ext-three p{
  color: #f7e1ae;
}

.fotter-ext-one ,
.fotter-ext-two ,
.fotter-ext-three{
  padding-left: 10px;
}



.ftr-up{
  background: #063d53;
  padding-top: 30px;
}


/* //////////////////////  form////////////// */

.connect input,textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid  #ccc;
  box-sizing: border-box;
  flex: 48%;
}


.form{
  width: 100%;
  margin: auto;
  background: #f7e1ae;

}

.connect{
  margin: 40px 40px ;
  background: #ecc47b15;
  
  
}

.connect h2{
  text-align: left;
  padding-bottom: 30px;
}

.connect input:focus{
  border: 1px solid #d21312;
}

.connect textarea:focus{
  border: 1px solid #d21312;
}

.connect input:hover{
  border: none;

  border-bottom: 2px solid red;

}
  
/* //////////////////////////// about us //////////////// */
.about-us{
  display: flex;
  justify-content: center;

  width: 80%;
  margin: auto;
  flex-direction: column;
}


.about-us h3{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #fffbf5;

}

.about-up{
  background-color: #063d53;
}

.about-us p{
  color: #ccc;
  padding-bottom: 10px;
  text-align: center;
 
} 
   /* /////////////////////////////  icons   //////////////////////// */
.icon{
  display: flex;
  
 
  row-gap: 2rem;
}

.fa-brands{

 padding: 30px;

} 

.icon-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.follow{
  background-color: #063d53;
}

.made{
  margin-bottom: 20px;
  color: #d21312;
}



/* ///////////////////////////////////////  end //////////////////////////// */